{% load render_bundle from webpack_loader %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>frontend</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    {% render_bundle 'main' 'css' %}
  </head>

  <body>
    <noscript
      ><strong
        >We're sorry but frontend doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      ></noscript
    >

    <div id="app">{% render_bundle 'main' 'js'%}</div>
  </body>
</html>
